.table{
  background-color: #221F4A;
  border-radius: .5rem;
  &__container{
    padding: 2rem 1rem;
    display: flex;
  }
}

.container{
  &__title{
    margin-right: 3rem;
  }
  &__title:last-child{
    margin-left: 0;
  }
  &__tbl{
    text-align: center;
    border-spacing: 50px 10px;
  }
}

.th{
  &__domain{
    text-align: start;
  }
  &__owner{
    text-align: end;
  }
  font-weight: normal;

}

.table{
  &__input{
    &-domain{
      margin-right: .5rem;
    }
  }
  &__button{
    padding: .5rem;
    border-radius: .5rem;
    &-edit{
      margin-left: .5rem;
    }
  }
  &__button:hover{
    background-color: #7264FF;
  }
}

.remove{
  padding: 2rem 1rem;
}